<div class="map-container">
    <div id="map"></div>
    <div class="map-controls">
      <div class="row">
        <div class="large-12">
          <label class="filter-desc"><strong>Display Orders by Hub</strong></label>
          <% @hubs.each do |hub| %>
            <input class="hub-checks" id="hub-<%= hub.id %>" type="checkbox"><label for="hub-<%= hub.id %>">Hub <%= hub.id %></label>
          <% end %>
        </div>
      </div>
      <div class="key">
        <ul>
          <li class="hub">
            <p>Hub</p>
          </li>
          <li class="order">
            <p>Order </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="ajax-loader">
      <div class="spinner-and-text">
        <h4>loading orders...</h4>
        <div class="spinner">
        </div>
      </div>
    </div>
</div>

<script>
  (function($, newMap) {
    $(function(){
      new newMap({
        hubs: <%=raw @hubs_hash.to_json %>,
        orders: <%=raw @orders_hash.to_json %>,
        hubChecks: $(".hub-checks:checkbox")
      }).bind();
    });
  }(jQuery, SprigMap.New))
</script>
